.linearActivity {
  overflow: hidden;
  width: 100%;
  height: 8px;
  background-color: rgb(182, 184, 185);
  margin: 20px auto 0;
}

.determinate {
  position: relative;
  max-width: 100%;
  height: 100%;
  -webkit-transition: width 500ms ease-out 1s;
     -moz-transition: width 500ms ease-out 1s;
       -o-transition: width 500ms ease-out 1s;
          transition: width 500ms ease-out 1s;
  background-color: #FFF;
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #FFF;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #FFF;
  animation: indeterminate_second 1.5s infinite ease-in;
}

.circleLoaderWrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  background-color: white;
  padding: 10px 30px;
}

.circleloader {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin: 2rem auto;
  position: relative;
  border-top: 0.4em solid rgba(0, 0, 0, 0.2);
  border-right: 0.4em solid rgba(0, 0, 0, 0.2);
  border-bottom: 0.4em solid rgba(0, 0, 0, 0.2);
  border-left: 0.4em solid rgba(58, 123, 213, 1);
  z-index: 4;
  animation: rotateCircleLoader 1.1s infinite linear;
}

@keyframes rotateCircleLoader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes indeterminate_first {
  0% {
      left: -100%;
      width: 100%;
  }
  100% {
      left: 100%;
      width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
      left: -150%;
      width: 100%;
  }
  100% {
      left: 100%;
      width: 10%;
  }
}