.MainHeader {
  padding: 10px;
}

.secureLogoBadges img {
  width: 20%;
  position: relative;
  top: 340px;
  left: 170px;
}

.container {
  margin: 0px auto;
}

ul.inlineLists {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.inlineLists li {
  display: inline-block;
  vertical-align: top;
}

.errorMessage {
  display: block;
  color: #d03a3a;
  font-size: 12px;
  font-family: Proxima-Thin;
  margin-top: 5px;
}

.mainNav a {
  display: inline-block;
  font-family: Roboto-Regular;
  vertical-align: top;
  color: #3079ed;
  text-decoration: none;
  font-size: 16px;
}
.homePageContainer {
  height: calc(100vh - 56px);
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.homePageContainer .leadImg {
  position: absolute;

  bottom: 170px;
  z-index: 2;
}
.homePageContainer .homeBg {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.homePageContainer .homeBanner {
  margin-top: 100px;
  width: 600px;
  max-width: 100%;
  position: absolute;
  z-index: 100;
}
.homePageContainer .homeBanner p {
  font-size: 18px;
  font-family: Roboto-Light;
  color: #3079ed;
  margin-top: 15px;
}
.homePageContainer .homeBanner h1 {
  font-size: 28px;
  color: #3079ed;
  font-family: Roboto-Light;
  line-height: 46px !important;
}
.homePageContainer .homeBanner h1 strong {
  font-family: Roboto-Medium;
}
.homeBanner .inlineForm {
  width: 420px;
  border: 1px solid #1dcc8c;
  border-radius: 0px 4px 4px 0px;
  margin-top: 30px;
  height: 48px;
}
.homeBanner .inlineForm input {
  padding: 15px 15px;
  border: none;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  height: 46px;
  outline: none;
}
.homeBanner .inlineForm button {
  height: 47px;
  padding: 13px 18px 11px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
  background: #1dcc8c;
  position: relative;
  right: -2px;
  border-radius: 0px 4px 4px 0px;
  font-family: Roboto-Medium;
  float: right;
}

/* MEDIA QUERY */

@media only screen and (max-width: 599px) {
  .container {
    width: 98%;
  }
  .homePageContainer .leadImg {
    right: 0px;
  }
  .homePageContainer {
    min-height: 850px;
  }
  .mainNav a {
    padding: 10px 5px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 98%;
  }
  .homePageContainer .leadImg {
    right: 0px;
  }
  .homePageContainer {
    min-height: 900px;
  }
  .mainNav a {
    padding: 10px 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: calc(100% - 40px);
  }
  .homePageContainer .leadImg {
    right: 0px;
  }
  .homePageContainer {
    min-height: 850px;
  }
  .mainNav a {
    padding: 10px 12px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 968px;
  }
  .homePageContainer .leadImg {
    right: 0px;
  }
  .homePageContainer {
    min-height: 550px;
  }
  .mainNav a {
    padding: 10px 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
  .homePageContainer .leadImg {
    right: 50px;
  }
  .homePageContainer {
    min-height: 550px;
  }
  .mainNav a {
    padding: 10px 15px;
  }
}

/*Media Queries For Security Logo */
@media screen and (min-width: 300px) and (max-width: 370px) {
  .secureLogoBadges img {
    top: 360px;
    width: 50%;
    left: 260px;
  }
}
@media screen and (min-width: 371px) and (max-width: 399px) {
  .secureLogoBadges img {
    top: 330px;
    width: 40%;
    left: 260px;
  }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
  .secureLogoBadges img {
    left: 250px;
    width: 35%;
    top: 330px;
  }
}

@media screen and (min-width: 481px) and (max-width: 520px) {
  .secureLogoBadges img {
    left: 180px;
    width: 35%;
    top: 330px;
  }
}
@media screen and (min-width: 521px) and (max-width: 620px) {
  .secureLogoBadges img {
    left: 20px;
    width: 35%;
    top: 330px;
  }
}
@media screen and (min-width: 621px) and (max-width: 720px) {
  .secureLogoBadges img {
    left: 20px;
    width: 35%;
    top: 330px;
  }
}
@media screen and (min-width: 721px) and (max-width: 1080px) {
  .secureLogoBadges img {
    width: 30%;
    top: 340px;
    left: 25px;
  }
}
@media screen and (min-width: 1081px) and (max-width: 1181px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 100px;
  }
}

@media screen and (min-width: 1182px) and (max-width: 1440px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 170px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1550px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 220px;
  }
}
@media screen and (min-width: 1551px) and (max-width: 1640px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 250px;
  }
}
@media screen and (min-width: 1641px) and (max-width: 1730px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 290px;
  }
}
@media screen and (min-width: 1731px) and (max-width: 1820px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 310px;
  }
}
@media screen and (min-width: 1821px) and (max-width: 1919px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 385px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 1960px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 430px;
  }
}
@media screen and (min-width: 1961px) and (max-width: 1981px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 434px;
  }
}
@media screen and (min-width: 1982px) and (max-width: 1992px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 452px;
  }
}
@media screen and (min-width: 1993px) and (max-width: 2003px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 452px;
  }
}
@media screen and (min-width: 2004px) and (max-width: 2020px) {
  .secureLogoBadges img {
    width: 20%;
    top: 340px;
    left: 460px;
  }
}

@media (max-width: 567px) and (min-width: 280px) {
  .homeBanner .inlineForm {
    width: 100%;
    border: 1px solid #1dcc8c;
    border-radius: 4px 4px 4px 4px;
    margin-top: 30px;
    height: 48px;
  }
  .homePageContainer .homeBanner {
    margin-top: 50px;
    width: 98%;
    max-width: 100%;
    position: absolute;
    z-index: 100;
  }
  .secureLogoBadges img {
    width: 60%;
    position: relative;
    top: 360px;
    left: 22%;
  }
  .homePageContainer .leadImg {
    position: absolute;
    bottom: 17%;
    z-index: 2;
    display: none;
  }
  .homePageContainer .homeBg {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
    z-index: 1;
  }
  .BtnFullWidth {
    width: 100%;
    right: 0px !important;
    margin-top: 10px !important;
    border-radius: 4px 4px 4px 4px !important;
  }
  .homeBanner .inlineForm input {
    padding: 15px 15px;
    border: none;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    height: 46px;
    outline: none;
  }
  .homePageContainer {
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  .homePageContainer {
    min-height: 100%;
  }
  .homePageContainer .homeBanner p {
    font-size: 18px;
    font-family: Roboto-Light;
    display: none;
    color: #3079ed;
    margin-top: 15px;
  }
}
